body
{
    background-image: url("images/unity.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    border-top: white;
    
    
}
#i
{
    text-align: center;
    padding-top: 5%;
}
#i1
{
    text-align: center;
    font-size: 250%;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
    padding-left: 10%;
}
#i2
{
    text-align: center;
    color: white;

    padding-left: 10%;
}
#i3
{
    text-align: center;
    font-size: 100%;
    color: black;
    padding-left: 10%;

}
#i4
{
    text-align: center;
    
    height: 10%;
    width: 25%;
   background-color: slategrey;
}
