body{

    padding: 0px;
    margin: 0px;
    width: 100%;
    background-image: url("img/char6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
.logo1{
    left:20px;
    position: absolute;
    padding: 25px 10px;
    top:5px;
    font-family: Cambria;
    display: inline;
}
.logo1 div{
    margin: 2px;
    font-size:20px;
    color: #fff;
    font-size:33px;

}
.logo2{
    position: absolute;
    right: 30px;
    top:40px;
    display: inline-block;
}
.logo2 div{
    margin: 2px;
    font-size:20px;
    color: #fff;
    font-size:33px;


}
header{
    width:1535px;
    height: 100px;
    position: relative;
    top:-29px;
    background-color:rgb(34, 34, 95); 
}

.main{
    background:rgb(190, 16, 16);
    text-align:center;

}
.main ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
    
}


    



.main ul li a{

    color: #fff;
    text-align: center;
}
.active, .main ul li:hover{
    background:rgba(231, 58, 58, 0.87);
    border-radius: 1px;
 

}
.telugu{
    position: relative;
    top:20px;
    display: block;
    width: 85%;
    left: 60px;
    margin: 30px ;

}
.nav{
    display: inline-block;
    margin: 1px;
    
}
.nav li{
    display: inline-block;
    margin: 10px;
}
.nav li a{
    padding: 20px 6px;
    font-size: 16px;
    color: #fff;
}
.english{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    width:85%;
    margin: 10px;
    
}
.nav1{
    display:inline-block;
    margin: 1px;
}
.nav1 li{
    display:inline-block;
}
.nav1 li a{
    padding: 34px 23px;
    font-size: 10px;
    color: #fff;
}
.a{
    position: relative;
    right: -45px;
}
.b{
    position: relative;
    right: -40px;
}

.x{
    position: relative;
    right: -25px;
}
.y{
    position: relative;
    right: -20px;
}
.z{
    position: relative;
    right: -40px;
}
.w{
    position: relative;
    right: -43px;
}
.q{
    position: relative;
    right: -63px;
    left: 70px;
}
.p{
    position: relative;
    left: 95px;
}
.r{
    position: relative;
    left:125px;
}
.c{
    position: relative;
    left:55px;
}

.icons{
    display: block;
    margin: 30px ;
    position: relative;
    margin-left: 1300px;
    margin-top:-105px;
    padding: 3px 3px;
}
.link li{
    display: inline-block;
}
.link li a{
    padding: 20px 5px;
    font-size: 13px;
    color: #fff;
}
.link li img{
    height: 30px;
    width: 30px;
    padding: 5px 5px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height:30px;
   width: 100%;
   background-color: rgb(190, 16, 16);
   text-align: center;
}
.heading{
    margin-top: 5px;
    text-align: center;
    margin-left: 100px;
    color: rgb(233, 220, 220);
    font-weight: bolder;
    position: absolute;

}
.heading h4{
    font-size: 20px;
    margin-top: -8px;
}
.heading h5{
    font-size: 15px;
    margin-top: -12px;
}
.btn{
    display: inline-block;
    width: 350px;
    font-weight: bold;
    padding:3px;
    color:rgb(45, 8, 129);
    border: 2px solid rgb(31, 29, 29);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: 0.2s ease-out;
    background-color:rgb(241, 241, 245);
    margin-left: 10px;
    margin-top: 10px;
}
.btn:hover,.btn:active{
    background-color: rgba(231, 58, 58, 0.87);
    color: #000;

}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 290px;
  
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 330px;
    background: #fff;
  
  }
  .swiper-slide .imagebox{
      width: 100%;
      height: 220px;
      overflow: hidden;
  
  }
  .swiper-slide .imagebox img{
      width: 100%;
      height: 100%;
  }
  .swiper-slide .details{
      padding: 10px;
      box-sizing: border-box;
  }
  .swiper-slide .details h3{
      margin: 0px;
      padding: 0px;
      font-size: 15px;
      text-align: center;
      color: rgb(50, 17, 82);
  }
  .swiper-slide .details h3 span{
      font-size: 10px;
      color: rgb(163, 83, 25);
  
  }
