body{
    padding: 0px;
    margin: 0px;
    font-family:sans-serif;
    box-sizing: border-box;
    width: 80px;
    
}
.logo1{
    left:20px;
    width: 15px;
    height: auto;
    position: absolute;
    padding: 25px 10px;
    top:5px;
    font-family: Cambria;
    display: inline;
}
.logo1 div{
    margin: 2px;
    font-size:20px;
    color: #fff;
    font-size:33px;

}
.logo2{
    position: absolute;
    right: 30px;
    top:50px;
    display: inline-block;
}
.logo2 div{
    margin: 2px;
    font-size:20px;
    color: #fff;
    font-size:30px;


}
.main{
    background:rgb(34, 34, 95);
    text-align:center;

}
.main ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
    
}


    

header{
    width:1530px;
    height: 100px;
    position: relative;
    top:-19px;
    background-color:rgb(34, 34, 95); 
}


.main ul li a{

    color: #fff;
    text-align: center;
}
.active, .main ul li:hover{
    background:rgb(44, 44, 216);
    border-radius: 1px;
 

}
.telugu{
    position: relative;
    top:20px;
    display: block;
    width: 85%;
    left: 60px;
    margin: 30px ;

}
.nav{
    display: inline-block;
    margin: 1px;
    
}
.nav li{
    display: inline-block;
    margin: 10px;
}
.nav li a{
    padding: 20px 6px;
    font-size: 16px;
    color: #fff;
}
.english{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    width:85%;
    margin: 10px;
    
}
.nav1{
    display:inline-block;
    margin: 1px;
}
.nav1 li{
    display:inline-block;
}
.nav1 li a{
    padding: 34px 23px;
    font-size: 10px;
    color: #fff;
}
.a{
    position: relative;
    right: -45px;
}
.b{
    position: relative;
    right: -40px;
}

.x{
    position: relative;
    right: -25px;
}
.y{
    position: relative;
    right: -20px;
}
.z{
    position: relative;
    right: -40px;
}
.w{
    position: relative;
    right: -43px;
}
.q{
    position: relative;
    right: -63px;
    left: 70px;
}
.p{
    position: relative;
    left: 95px;
}
.r{
    position: relative;
    left:125px;
}
.c{
    position: relative;
    left:55px;
}

.icons{
    display: block;
    margin: 30px ;
    position: relative;
    margin-left: 1300px;
    margin-top:-105px;
    padding: 3px 3px;
}
.link li{
    display: inline-block;
}
.link li a{
    padding: 20px 5px;
    font-size: 13px;
    color: #fff;
}
.link li img{
    height: 30px;
    width: 30px;
    padding: 5px 5px;
}
footer{
    text-align: center;
    position: relative;
    margin-top:-550px;
    margin-left: 750px;
    width: 500px;
    padding: 5px 5px;

}
.heading h5{
    margin: 10px;
    
    color: rgb(45, 8, 129);
}
.heading p{
    margin: 10px;
    color: rgb(45, 8, 129);

}
.heading p{
    margin: 10px;
    color: rgb(45, 8, 129);

}
.heading p{
    margin: 10px;
    color: rgb(45, 8, 129);

}
