*{
    margin: 0;
    padding: 0;
    font-family:Century Gothic;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: wheat;
  }
  .footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
 ul img{
     position: relative;
     float: left;
 }
body
{
    background: darkblue;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;

}
.carousel
{
    height: 600px;
    perspective: 600px;
}
.carousel .carousel-item
{
    width: 400px;
}
.carousel .carousel-item img
{
    width: 100%;
}
.carousel .carousel-item h3
{
    margin: -10px 0;
    padding: 0;
    background: #fff;
    color: #000;
    box-sizing: border-box;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;

}