body
{
    background-image: url("img/unity.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 600px;
    background-position: 0px 80px;
}
#i
{
    text-align: center;
    padding-top: 5%;
}
#i1
{
    position:absolute;
    top: 150px;
    left: 400px;
    font-size: 50px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
    padding-left: 10%;
}
#i2
{
    color: white;
    position:absolute;
    top: 250px;
    left: 500px;
    padding-left: 10%;
}
#i3
{
    font-size: 100%;
    color: white;
    position:absolute;
    top: 280px;
    left: 300px;

}
#i4
{
    font-size: 100%;
    color: white;
    position:absolute;
    top: 310px;
    left: 300px;

}
.last{
    /* border: 2px solid red; */
    background-color: rgb(166, 175, 201);
    display: inline-block;
    width: 200px;
    position: absolute;
    top: 360px;
    left: 600px;
}
.last div{
text-align: center;
margin: 2px;
}
.last p{
    text-align: center;
    margin: 3px;
}
.header-items{
   
   height: 100px;
    width: auto;
   background-color: brown;
   position: relative;
   top:-19px;
}
.left{
 display: inline;
 position: absolute;
 top:30px;
 left: 30px;

}
.left  div{
   margin: 2px auto;
   font-size: 20px;
   color: white;
   font-size: 25px;
}
.mid{
position: relative;
top:-70px;
display: block;
  width: 85%;
  margin: 20px auto;
}

.right{
 position: absolute;
right: 50px;
top:30px;
display: inline-block;
}
.right div{
margin: 2px auto;
   font-size: 20px;
   color: white;
   font-size: 25px;
}
.nav{
   display: inline-block;
   margin: 1px;
}
.nav li{
   display: inline-block;
}
.nav li a{
   text-decoration: none;
   padding: 34px 15px;
   font-size: 20px;
   color: white;
}
.mid1{
display: block;
  width: 85%;
  margin: 20px auto;
  position: relative;
  top:-80px;
}
.nav1{
   display: inline-block;
   margin: 1px;
}
.nav1 li{
   display: inline-block;
}
.nav1 li a{
   text-decoration: none;
   padding: 34px 25px;
   font-size: 15px;
   color: white;
}
.nav li a:hover ,.nav li a.active{
  text-decoration: underline;
  text-decoration-color: yellow;
}
.top{
   display: block;
   margin: 30px auto;
   position: relative;
   left:1360px;
   top:-180px;
}
.link li{
   display: inline-block;
}
.link li a{
   text-decoration: none;
   padding: 2px 5px;
   font-size: 13px;
   color:white;
}
.x{
   position: relative;
   right: 30px;
}
.y{
   position: relative;
   right: 50px;
}
.z{
   position: relative;
   right: 50px;
}
.p{
position: relative;
   right: -10px;
}
.link li img{
   height: 20px;
   width: 20px;
   cursor: pointer;
}
.footer{
   background-color: rgb(90, 6, 6);
   margin: 600px 1px 0px 0px;
   height: 30px;
}
