body{
  margin:0;
  padding: 0;
  background-color: black;
}
.carousel
{
  transform: translate(-150px);
  height: 750px;
  perspective: 600px;
}
.carousel .carousel-item
{
    width: 400px;
}
.carousel .carousel-item img
{
    width: 100%;
}
.carousel .carousel-item h3
{
    margin: -5px 0 00;
    padding: 0;
    background:#fff;
    color:#000;
    box-sizing: border-box;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
