h2{
     text-align: center;
     text-decoration: initial;
     text-orientation: initial;
     font-family: italic;
     background: white;
     font-size: large;
     margin-top: 0px;
     font-weight: bold;
     border:2px solid white;
     padding: 0px;
     margin-bottom: 0;
     color:brown;
  

}

.carousel{
     transform: translateZ(-100px);
     height: 750px;
     perspective: 500px;
 }

body{
     background-color: black;
     margin: 0px;
     padding-top: 80px;
}

.carousel .carousel-item{
     width:300px;
}
.carousel .carousel-item{
     height:500px;
}
 h6{
 	text-align: center;
 	border:2px solid white;
     margin-top: 0;
     background-color: white; 
 }
 table{
 	border-collapse: collapse;
 }